@import "tailwindcss";
@plugin "./plugin-heroui.ts";
@source './../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

* {
  @apply font-light;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;

  *::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --spacing-compact: 880px;
  --spacing-content: 1280px;
  --container-compact: 880px;
  --container-content: 1280px;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  img {
    @apply w-full min-h-[22px];
    @apply rounded-md shadow-md;
  }

  figure[data-rehype-pretty-code-figure] {
    @apply flex flex-col items-start justify-start;
    @apply text-sm;
    @apply my-4 first:mt-0 last:mb-0;
    @apply relative;
  }

  figure[data-rehype-pretty-code-figure] figcaption {
    @apply overflow-x-auto px-4 py-2 rounded-t-md w-full;
    @apply bg-gray-900 text-white;
    @apply border-b-8 border-gray-900 -mb-2;
    @apply italic;
  }

  figure[data-rehype-pretty-code-figure] pre {
    @apply overflow-x-auto py-4 rounded-md w-full;
    @apply bg-gray-800 text-gray-300;
  }

  figure[data-rehype-pretty-code-figure] pre > span {
    @apply px-4;
  }

  figure[data-rehype-pretty-code-figure] pre span[data-highlighted-line] {
    @apply bg-white/10;
  }

  pre[data-line-numbers] {
    @apply [counter-reset:line];
  }

  pre[data-line-numbers] > [data-line]::before {
    @apply [counter-increment:line] [content:counter(line)];
    @apply inline-block w-3 mr-4 text-right text-gray-500;
  }

  pre[data-line-numbers-max-digits="2"] > [data-line]::before {
    @apply w-5;
  }

  pre[data-line-numbers-max-digits="3"] > [data-line]::before {
    @apply w-7;
  }

  pre[data-line-numbers-max-digits="4"] > [data-line]::before {
    @apply w-9;
  }
}

@layer components {
  .markdown-table {
    @apply my-4 text-left text-medium table table-auto;
    @apply border-separate border-spacing-0;
    @apply border-1 rounded-md;
    @apply border-gray-300 dark:border-gray-700;
  }

  .markdown-table th {
    @apply p-4 font-semibold;
    @apply border-separate border-spacing-0;
    @apply border-b-1 border-l-1 first:rounded-tl-md last:rounded-tr-md first:border-l-0;
    @apply border-gray-300 dark:border-gray-700 bg-gray-50 dark:bg-gray-950;
    @apply sticky left-0 z-10;
  }

  .markdown-table td {
    @apply p-4 text-nowrap;
    @apply border-separate border-spacing-0;
    @apply border-b-1 border-l-1 first:rounded-tl-md last:rounded-tr-md first:border-l-0;
    @apply border-gray-300 dark:border-gray-700 bg-background;
    @apply align-middle leading-none;
    @apply sticky left-0 z-10;
  }

  .markdown-table tr:last-child td {
    @apply border-b-0 first:rounded-bl-md last:rounded-br-md;
  }

  .markdown-table td img,
  .markdown-list-item img {
    @apply max-w-none h-auto;
  }

  .markdown-list-item .markdown-modal-image {
    @apply translate-y-[6px];
  }
}
