#######################################
# General
#######################################
.container-structure-test.yml
.gitignore
.hadolint.yml
CONTRIBUTING.md
Dockerfile
README.md
.env*

#######################################
# Module
#######################################
.next/
export/
input/
next-env.d.ts
node_modules/