#######################################
# Miscellaneous
#######################################
.DS_Store

#######################################
# General
#######################################
.env

#######################################
# Terraform
#######################################
.terraform.tfstate.lock.info
.terraform/
.terraformrc
*_override.tf
*_override.tf.json
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.*.log
crash.log
override.tf
override.tf.json
terraform.rc

#######################################
# Module
#######################################
input/

#######################################
# Next.js
#######################################
.next/
export/
next-env.d.ts

#######################################
# Generated
#######################################
docker-context/files/resume/versions.generated.json
docker-context/SiegeSailor-README.md

#######################################
# NPM
#######################################
node_modules/

#######################################
# TypeScript
#######################################
build-cache