node_modules/
package-lock.json

# Next.js
source/website/.next/
source/website/export/
source/website/build-cache/
source/website/public/
source/website/next-env.d.ts
source/website/SiegeSailor-README.md