.blog-list-page {
  body {
    .main-wrapper {
      .container {
        padding: var(--ifm-global-spacing) var(--ifm-global-spacing) 2rem
          var(--ifm-global-spacing) !important;
        margin: 0rem !important;

        .row {
          aside {
            text-align: right;
          }
        }
      }
    }
  }
}
