.input {
  padding: 0.15rem 1rem;
  border: 0.075rem solid rgb(var(--color-grey-700));
  border-radius: 0.25rem;
  opacity: 0.5;
  width: 100%;
  font-size: 1rem;
  height: 2rem;
  line-height: 2rem;
  background-color: rgb(var(--color-grey-100));
}
