.key {
  border: 0.015rem solid rgb(var(--color-grey-700));
  border-radius: 0.25rem;
  color: rgb(var(--color-grey-700));
  height: 1.25rem;
  width: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
